.score-wrapper {
    background-color: #FBFBFB;
    border-radius: 5px;
    width: 258px;
    height: 263px;
    position: relative;
    padding: 24px;
}

.score-title {
    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--color-text);
    position: absolute;
    top: 24px;
    left: 24px;
}